.heading {
  display: flex;
  justify-content: center;
  font-family: 'Playfair Display', serif;
  margin-top: 280px;
  margin-left: 100px;
  color: white;
  animation-name: colorchange;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
p {
  display:flex;
  justify-content: center;
  color: white;
  margin-left: 100px;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  animation-name: colorchange;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

body {
    background-image:url(https://images.pexels.com/photos/1048027/pexels-photo-1048027.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

@keyframes colorchange {
  from {color: white}
  to {color: #D15603}
}

@media screen and (max-width:900px){ body {
  background-image: url(https://images.pexels.com/photos/1496145/pexels-photo-1496145.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940)
}
}
